<div class="row text-center">
  <h1>Log in to Spotify</h1>
</div>

<div class="row text-center content" style="padding: 20%;">
  <%= link_to 'Sign in with Spotify', '/auth/spotify', class: "btn btn-lg btn-primary" %>
</div>